@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'CabinetGrotesk';
	src: url('/CabinetGrotesk.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}
@font-face {
	font-family: 'Array';
	src: url('/Array-Regular.woff2') format('woff2');
}
root {
	font-family: 'CabinetGrotesk', sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/
	line-height: 1.5;
	color: #333;
}

::selection {
	@apply bg-black text-white;
}
.inverted::selection {
	@apply bg-white text-black;
}
